

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
:root {  //Color page - Primary = 60% - Secondary = 30% - Accent = 10%
  --primary-clr-0: hsl(0, 0%, 100%);
  --secondary-clr-0: hsl(0, 0%, 100%);
  --accent-clr-0: hsl(0, 0%, 100%);
  --neutral-clr-0: hsl(0, 0%, 100%);
}